# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim swap files
*.sw?

# Autotools built files
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool

# Output files
autochop1
castus4-public.pc
castus4-public_demo_gentime
castus4-public_demo_parsetime
filter-example-check-duration
filter-example-check-duration-and-ripple
filter-example-check-duration-and-ripple-bidi
lintschedule
lintschedule2
lintschedule3
loadschedule
ltmain.sh
m4/
missing
showmeta
stamp-h1

# Autotools generates these for us
AUTHORS
